<div id="setKeyStorePassword">
  <div id="toggle-group-cert" class="border-bottom">
    <mat-slide-toggle #toggleSelf (change)="toggleSelfIssuing()">Self issued</mat-slide-toggle>
    <mat-slide-toggle #toggleCA (change)="toggleCaIssuing()">CA</mat-slide-toggle>
    <mat-slide-toggle #toggleEnd (change)="toggleEndIssuing()">End entity</mat-slide-toggle>
  </div>
  <input id="serialNumber" type="text"/>
  <input id="keyStorePassword" type="password"/>
  <button (click)="loadCertificate()">
    Load Certificate
  </button>
</div>
