<div id="toggle-group-cert" class="border-bottom animated slideInDown">
  <mat-slide-toggle #toggleSelf (change)="toggleSelfIssuing()">Self issued</mat-slide-toggle>
  <mat-slide-toggle #toggleCA (change)="toggleCaIssuing()">CA</mat-slide-toggle>
  <mat-slide-toggle #toggleEnd (change)="toggleEndIssuing()">End entity</mat-slide-toggle>
</div>

<notifier-container></notifier-container>

<div id="selectDigitalEntity">
  <mat-button-toggle-group>
    <mat-button-toggle #toggleUser (change)="toggleUserE()">User</mat-button-toggle>
    <mat-button-toggle #toggleSoftwareCompany (change)="toggleSoftwareCompanyE()">Software Company</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="col" id="caDropdown"
     [hidden]="hideDropdown()">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem *ngFor="let issuer of allSSandCA"
              (click)="fillData(issuer)">{{issuer.firstName + ' ' + issuer.lastName + ' : ' + issuer.email}}</button>
    </div>
  </div>
</div>

<div class="row" id="forms" [hidden]="formsHidden || (!selectedSelf && !selectedCa && !selectedEnd)">
  <div class="col-lg-5">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center"> Issuer data </h2>
        <form [formGroup]="issuerData">
          <div class="col">
            <div class="form-group col-lg-10">
              <label for="inputFirstName">First Name</label>
              <input class="form-control"
                     id="inputFirstName"
                     name="firstName" formControlName="firstName"
                     placeholder="Enter first name of issuer"
                     [ngClass]="{'is-invalid': fi.firstName.touched && fi.firstName.errors, 'is-valid': fi.firstName.touched && fi.firstName.valid}"
                     required>
              <span style="color: red" *ngIf="fi.firstName.invalid && fi.firstName.touched">First name must contain only letters</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputLastName">Last Name</label>
              <input class="form-control"
                     id="inputLastName"
                     name="lastName" formControlName="lastName"
                     placeholder="Enter last name of issuer"
                     [ngClass]="{'is-invalid': fi.lastName.touched && fi.lastName.errors, 'is-valid': fi.lastName.touched && fi.lastName.valid}"
                     required>
              <span style="color: red" *ngIf="fi.lastName.invalid && fi.lastName.touched">Last name must contain only letters</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputOrganization">Organization</label>
              <input class="form-control"
                     id="inputOrganization"
                     name="organization" formControlName="organization"
                     placeholder="Enter organization of issuer"
                     [ngClass]="{'is-invalid': fi.organization.touched && fi.organization.errors, 'is-valid': fi.organization.touched && fi.organization.valid}"
                     required>
              <span style="color: red" *ngIf="fi.organization.invalid && fi.organization.touched">Organization must contain only letters and/or numbers</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputOrganizationUnit">Organization Unit</label>
              <input class="form-control"
                     id="inputOrganizationUnit"
                     name="organizationUnit" formControlName="organizationUnit"
                     placeholder="Enter organization unit of issuer"
                     [ngClass]="{'is-invalid': fi.organizationUnit.touched && fi.organizationUnit.errors, 'is-valid': fi.organizationUnit.touched && fi.organizationUnit.valid}"
                     required>
              <span style="color: red" *ngIf="fi.organizationUnit.invalid && fi.organizationUnit.touched">Organization unit must contain only letters and/or numbers</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputCountry">Country</label>
              <input class="form-control"
                     id="inputCountry"
                     name="country" formControlName="country"
                     placeholder="Enter country of issuer"
                     [ngClass]="{'is-invalid': fi.country.touched && fi.country.errors, 'is-valid': fi.country.touched && fi.country.valid}"
                     required>
              <span style="color: red" *ngIf="fi.country.invalid && fi.country.touched">Country must contain only letters</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputCity">City</label>
              <input class="form-control"
                     id="inputCity"
                     name="city" formControlName="city"
                     placeholder="Enter city of issuer"
                     [ngClass]="{'is-invalid': fi.city.touched && fi.city.errors, 'is-valid': fi.city.touched && fi.city.valid}"
                     required>
              <span style="color: red" *ngIf="fi.city.invalid && fi.city.touched">City must contain only letters</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputEmail">Email</label>
              <input class="form-control"
                     id="inputEmail"
                     name="email" formControlName="email"
                     placeholder="Enter email of issuer"
                     [ngClass]="{'is-invalid': fi.email.touched && fi.email.errors, 'is-valid': fi.email.touched && fi.email.valid}"
                     required>
              <span style="color: red" *ngIf="fi.city.invalid && fi.city.touched">Email must be in proper format</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputPhone">Phone</label>
              <input class="form-control"
                     id="inputPhone"
                     name="phone" formControlName="phone"
                     placeholder="Enter phone of issuer"
                     [ngClass]="{'is-invalid': fi.phone.touched && fi.phone.errors, 'is-valid': fi.phone.touched && fi.phone.valid}"
                     required>
              <span style="color: red"
                    *ngIf="fi.phone.invalid && fi.phone.touched">Phone must contain 9 or 10 numbers</span>
            </div>
          </div>
        </form>
          <div class="col">
          <div class="form-group col-lg-10">
            <form [formGroup]="keyUsage">
            <label>Key Usage</label> <br/>
            <input formControlName="digitalSignature" type="checkbox" class="form-check-input" id="digitalSignatureI">
            <label class="form-check-label" for="digitalSignatureI">Digital Signature</label> <br/>
            <input formControlName="nonRepudation" type="checkbox" class="form-check-input" id="nonRepudationI">
            <label class="form-check-label" for="nonRepudationI">Non Repudation</label> <br/>
            <input formControlName="keyEncipherment" type="checkbox" class="form-check-input" id="keyEnciphermentI">
            <label class="form-check-label" for="keyEnciphermentI">Key Encipherment</label> <br/>
            <input formControlName="dataEncipherment" type="checkbox" class="form-check-input" id="dataEnciphermentI">
            <label class="form-check-label" for="dataEnciphermentI">Data Encipherment</label> <br/>
            <input formControlName="keyAgreement" type="checkbox" class="form-check-input" id="keyAgreementI">
            <label class="form-check-label" for="keyAgreementI">Key Agreement</label> <br/>
            <input formControlName="keyCertSign" type="checkbox" class="form-check-input" id="keyCertSignI">
            <label class="form-check-label" for="keyCertSignI">Key Certificate Sign</label> <br/>
            <input formControlName="cRLSign" type="checkbox" class="form-check-input" id="cRLSignI">
            <label class="form-check-label" for="cRLSignI">CRL Sign</label> <br/>
            <input formControlName="encipherOnly" type="checkbox" class="form-check-input" id="encipherOnlyI">
            <label class="form-check-label" for="encipherOnlyI">Encipher Only</label> <br/>
            <input formControlName="decipherOnly" type="checkbox" class="form-check-input" id="decipherOnlyI">
            <label class="form-check-label" for="decipherOnlyI">Decipher Only</label> <br/> <br/>
          </form>
          <form [formGroup]="extendedKeyUsage">
            <label>Extension Key Usage</label> <br/>
            <input formControlName="serverAuth" type="checkbox" class="form-check-input" id="serverAuthI">
            <label class="form-check-label" for="serverAuthI">Server Authentication</label> <br/>
            <input formControlName="clientAuth" type="checkbox" class="form-check-input" id="clientAuthI">
            <label class="form-check-label" for="clientAuthI">Client Authentication</label> <br/>
            <input formControlName="codeSigning" type="checkbox" class="form-check-input" id="codeSigningI">
            <label class="form-check-label" for="codeSigningI">Code Signing</label> <br/>
            <input formControlName="emailProtection" type="checkbox" class="form-check-input" id="emailProtectionI">
            <label class="form-check-label" for="emailProtectionI">Email protection</label> <br/>
            <input formControlName="timeStamping" type="checkbox" class="form-check-input" id="timeStampingI">
            <label class="form-check-label" for="timeStampingI">Time Stamping</label> <br/>
            <input formControlName="oCSPSigning" type="checkbox" class="form-check-input" id="oCSPSigningI">
            <label class="form-check-label" for="oCSPSigningI">OCSP Signing</label> <br/>
          </form>
          </div>

          </div>

      </div>
    </div>
  </div>

  <div class="col-lg-5" [hidden]="this.subjectDataDisplayed">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center"> Issuer and subject data are the same. </h1>
      </div>
    </div>
  </div>

  <div class="col-lg-5" id="subjectDataDiv" [hidden]="!this.subjectDataDisplayed">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center"> Subject data </h2>
        <form [formGroup]="subjectData">
          <div class="col">
            <div class="form-group col-lg-10">
              <label for="inputFirstNameS">First Name</label>
              <input class="form-control"
                     id="inputFirstNameS"
                     name="firstName" formControlName="firstName"
                     placeholder="Enter first name of subject"
                     [ngClass]="{'is-invalid': fs.firstName.touched && fs.firstName.errors, 'is-valid': fs.firstName.touched && fs.firstName.valid}"
                     required>
              <span style="color: red" *ngIf="fs.firstName.invalid && fs.firstName.touched">First name must contain only letters</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputLastNameS">Last Name</label>
              <input class="form-control"
                     id="inputLastNameS"
                     name="lastName" formControlName="lastName"
                     placeholder="Enter last name of subject"
                     [ngClass]="{'is-invalid': fs.lastName.touched && fs.lastName.errors, 'is-valid': fs.lastName.touched && fs.lastName.valid}"
                     required>
              <span style="color: red" *ngIf="fs.lastName.invalid && fs.lastName.touched">Last name must contain only letters</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputOrganizationS">Organization</label>
              <input class="form-control"
                     id="inputOrganizationS"
                     name="organization" formControlName="organization"
                     placeholder="Enter organization of subject"
                     [ngClass]="{'is-invalid': fs.organization.touched && fs.organization.errors, 'is-valid': fs.organization.touched && fs.organization.valid}"
                     required>
              <span style="color: red" *ngIf="fs.organization.invalid && fs.organization.touched">Organization must contain only letters and/or numbers</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputOrganizationUnitS">Organization Unit</label>
              <input class="form-control"
                     id="inputOrganizationUnitS"
                     name="organizationUnit" formControlName="organizationUnit"
                     placeholder="Enter organization unit of subject"
                     [ngClass]="{'is-invalid': fs.organizationUnit.touched && fs.organizationUnit.errors, 'is-valid': fs.organizationUnit.touched && fs.organizationUnit.valid}"
                     required>
              <span style="color: red" *ngIf="fs.organizationUnit.invalid && fs.organizationUnit.touched">Organization unit must contain only letters and/or numbers</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputCountryS">Country</label>
              <input class="form-control"
                     id="inputCountryS"
                     name="country" formControlName="country"
                     placeholder="Enter country of subject"
                     [ngClass]="{'is-invalid': fs.country.touched && fs.country.errors, 'is-valid': fs.country.touched && fs.country.valid}"
                     required>
              <span style="color: red" *ngIf="fs.country.invalid && fs.country.touched">Country must contain only letters</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputCityS">City</label>
              <input class="form-control"
                     id="inputCityS"
                     name="city" formControlName="city"
                     placeholder="Enter city of subject"
                     [ngClass]="{'is-invalid': fs.city.touched && fs.city.errors, 'is-valid': fs.city.touched && fs.city.valid}"
                     required>
              <span style="color: red" *ngIf="fs.city.invalid && fs.city.touched">City must contain only letters</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputEmailS">Email</label>
              <input class="form-control"
                     id="inputEmailS"
                     name="email" formControlName="email"
                     placeholder="Enter email of subject"
                     [ngClass]="{'is-invalid': fs.email.touched && fs.email.errors, 'is-valid': fs.email.touched && fs.email.valid}"
                     required>
              <span style="color: red"
                    *ngIf="fs.email.invalid && fs.email.touched">Email must be in proper format</span>
            </div>

            <div class="form-group col-lg-10">
              <label for="inputPhoneS">Phone</label>
              <input class="form-control"
                     id="inputPhoneS"
                     name="phone" formControlName="phone"
                     placeholder="Enter phone of subject"
                     [ngClass]="{'is-invalid': fs.phone.touched && fs.phone.errors, 'is-valid': fs.phone.touched && fs.phone.valid}"
                     required>
              <span style="color: red"
                    *ngIf="fs.phone.invalid && fs.phone.touched">Phone must contain 9 or 10 numbers<</span>
            </div>

          </div>
        </form>
        <div class="col">
        <div class="form-group col-lg-10">
          <form [formGroup]="keyUsageS">
          <label>Key Usage</label> <br/>
          <input formControlName="digitalSignature" type="checkbox" class="form-check-input" id="digitalSignatureS">
          <label class="form-check-label" for="digitalSignatureS">Digital Signature</label> <br/>
          <input formControlName="nonRepudation" type="checkbox" class="form-check-input" id="nonRepudationS">
          <label class="form-check-label" for="nonRepudationS">Non Repudation</label> <br/>
          <input formControlName="keyEncipherment" type="checkbox" class="form-check-input" id="keyEnciphermentS">
          <label class="form-check-label" for="keyEnciphermentS">Key Encipherment</label> <br/>
          <input formControlName="dataEncipherment" type="checkbox" class="form-check-input" id="dataEnciphermentS">
          <label class="form-check-label" for="dataEnciphermentS">Data Encipherment</label> <br/>
          <input formControlName="keyAgreement" type="checkbox" class="form-check-input" id="keyAgreementS">
          <label class="form-check-label" for="keyAgreementS">Key Agreement</label> <br/>
          <input formControlName="keyCertSign" type="checkbox" class="form-check-input" id="keyCertSignS">
          <label class="form-check-label" for="keyCertSignS">Key Certificate Sign</label> <br/>
          <input formControlName="cRLSign" type="checkbox" class="form-check-input" id="cRLSignS">
          <label class="form-check-label" for="cRLSignS">CRL Sign</label> <br/>
          <input formControlName="encipherOnly" type="checkbox" class="form-check-input" id="encipherOnlyS">
          <label class="form-check-label" for="encipherOnlyS">Encipher Only</label> <br/>
          <input formControlName="decipherOnly" type="checkbox" class="form-check-input" id="decipherOnlyS">
          <label class="form-check-label" for="decipherOnlyS">Decipher Only</label> <br/> <br/>
        </form>
        <form [formGroup]="extendedKeyUsageS">
          <label>Extension Key Usage</label> <br/>
          <input formControlName="serverAuth" type="checkbox" class="form-check-input" id="serverAuthS">
          <label class="form-check-label" for="serverAuthS">Server Authentication</label> <br/>
          <input formControlName="clientAuth" type="checkbox" class="form-check-input" id="clientAuthS">
          <label class="form-check-label" for="clientAuthS">Client Authentication</label> <br/>
          <input formControlName="codeSigning" type="checkbox" class="form-check-input" id="codeSigningS">
          <label class="form-check-label" for="codeSigningS">Code Signing</label> <br/>
          <input formControlName="emailProtection" type="checkbox" class="form-check-input" id="emailProtectionS">
          <label class="form-check-label" for="emailProtectionS">Email Protection</label> <br/>
          <input formControlName="timeStamping" type="checkbox" class="form-check-input" id="timeStampingS">
          <label class="form-check-label" for="timeStampingS">Time Stamping</label> <br/>
          <input formControlName="oCSPSigning" type="checkbox" class="form-check-input" id="oCSPSigningS">
          <label class="form-check-label" for="oCSPSigningS">OCSP Signing</label> <br/>
        </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="btnIssue" (click)="openModal(myModalNoPassword, myModalYesPassword)" [hidden]="hideIssueBtn()">
  <button class="btn btn-success"> Issue certificate</button>
</div>

<div class="mt-lg-5 text-center">
  <ng-template #myModalNoPassword let-modal>
    <div class="modal-body">
      <form (ngSubmit)="issueCertificate()" [formGroup]="passwordData">
        <p> Key store doesn't exist. It will be created with the password you enter. </p>
        <label for="noPasswordInput">Password</label>
        <input id="noPasswordInput" type="password" formControlName="password"/>
        <div class="text-right">
          <button type="submit" class="btn btn-success">Issue</button>
        </div>
      </form>
    </div>

  </ng-template>
</div>

<div class="mt-lg-5 text-center">
  <ng-template #myModalYesPassword let-modal>
    <div class="modal-body">
      <form (ngSubmit)="issueCertificate()" [formGroup]="passwordData">
        <p> Enter key store password to save certificate </p>
        <label for="yesPasswordInput">Password</label>
        <input id="yesPasswordInput" type="password" formControlName="password"/>
        <span style="color:red;" hidden id="checkPasswordErrorSpan">Please enter correct password</span>
        <div class="text-right">
          <button type="submit" class="btn btn-success">Issue</button>
        </div>
      </form>
    </div>

  </ng-template>
</div>
