<div id="setKeyStorePassword">
  <div id="toggle-group-cert" class="border-bottom">
    <mat-slide-toggle #toggleSelf (change)="toggleSelfIssuing()">Self issued</mat-slide-toggle>
    <mat-slide-toggle #toggleCA (change)="toggleCaIssuing()">CA</mat-slide-toggle>
    <mat-slide-toggle #toggleEnd (change)="toggleEndIssuing()">End entity</mat-slide-toggle>
  </div>
  <input id="keyStorePassword" type="password"/> {{password}}
  <button (click)="setPassword()">
    Set KeyStore Password
  </button>
</div>
